autopep8==1.5.7
awsmfa==0.2.9
bcj-cffi==0.5.1
beautifulsoup4==4.9.3
boto3==1.17.112
botocore==1.20.112
Brotli==1.0.9
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
idna==3.2
jmespath==0.10.0
jq==1.1.3
multivolumefile==0.2.3
pycodestyle==2.7.0
pycparser==2.20
pycryptodomex==3.10.1
# pycrypto==2.6.1
Pygments==2.9.0
pyppmd==0.16.1
python-dateutil==2.8.2
pytz==2021.1
pyzipper==0.3.5
pyzstd==0.14.4
requests==2.26.0
s3transfer==0.4.2
six==1.16.0
soupsieve==2.2.1
texttable==1.6.4
toml==0.10.2
urllib3==1.26.6
